.artist-page__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.artist-detail-card {
  text-align: center;
}

.artist-page__section h1 {
  text-align: center;
  margin-bottom: 10px;
}

.artist-page__section p {
  text-align: justify;
  padding: 20px;
}

.artist-detail-card__image {
  /* -webkit-shape-outside: circle(50%);
  shape-outside: circle(50%); */
  width: 175px !important;
  height: 175px !important;
  /* float: left; */
  border-radius: 100%;
  margin: 20px;
}

.artist-detail-card__social-media {
  margin-top: 20px;
  text-align: center;
}

.artist-detail-card__social-media-link {
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
}

.artist-detail-card__social-media-link:first-child {
  margin-left: 0;
}

.artist-detail-card__social-media-link i {
  font-size: 30px;
  color: #333;
}

.artist-detail-card__social-media-link i:hover {
  color: #46c3be;
}

@media only screen and (min-width: 760px) {
  .artist-detail-card {
    text-align: unset;
  }

  .artist-detail-card__image {
    shape-outside: circle(50%);
    float: left;
  }
}
